@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}

.container {
  margin: 0;
  position: absolute;
  top: 20%;
  max-width: 25rem;
}

.header {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 600;
}

.nav {
  display: flex;
  gap: 1rem;
  margin-bottom: 4rem;
  justify-content: center;
}

.item:hover {
  color: #000;
  cursor: pointer;
}

.content {
  text-align: center;
}

.email-field {
  height: 4rem;
  visibility: hidden;
  cursor: pointer;
  text-align: center;
}
